<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<li>
    <a data-th-href="@{/list}">Főoldal</a>
</li>
<li>
    <a data-th-href="@{/list/search}">Keresés</a>
</li>
<li sec:authorize="isAuthenticated()">
    <a data-th-href="@{/logout}">Kijelentkezés</a>
</li>
<li sec:authorize="!isAuthenticated()">
    <a data-th-href="@{/login}">Bejelentkezés</a>
</li>
<li>
    <a data-th-href="@{/register}">Regisztráció</a>
</li>
&nbsp;&nbsp;

<p data-th-text="'Adatbázis mérete'"></p>
<p data-th-text="${listSize}"></p>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</body>
</html>