<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="menubar">
<li>
    <a data-th-href="@{/list}">Főoldal</a>
</li>
<li>
    <a data-th-href="@{/list/search}">Keresés</a>
</li>
<li sec:authorize="isAuthenticated()">
    <a data-th-href="@{/logout}">Kijelentkezés</a>
</li>
<li sec:authorize="!isAuthenticated()">
    <a data-th-href="@{/login}">Bejelentkezés</a>
</li>
<li>
    <a data-th-href="@{/register}">Regisztráció</a>
</li>
</div>
<div class="container">
    <div class="form">
        <h1>Lépj be :)</h1>
        <p data-th-if="${loginError}" class="error">Rossz felhasználónév vagy jelszó.</p>


        <form class="form" data-th-action="@{/login}" method="post">
            <input type="text" data-th-name="username" placeholder="felhasználónév">
            <input type="password" data-th-name="password" placeholder="jelszó">
            <input class="send_button" type="submit" value="Küldés">
        </form>
    </div>
</div>

</body>

</html>