<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Új felhasználó</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div id="menubar">
<li>
    <a data-th-href="@{/list}">Főoldal</a>
</li>
<li>
    <a data-th-href="@{/list/search}">Keresés</a>
</li>
<li sec:authorize="isAuthenticated()">
    <a data-th-href="@{/logout}">Kijelentkezés</a>
</li>
<li sec:authorize="!isAuthenticated()">
    <a data-th-href="@{/login}">Bejelentkezés</a>
</li>
</div>
<div class="container">
    <div class="form">
        <h1>Felhasználó regisztráció</h1>
        <form class="form" data-th-action="@{/register}" method="post" data-th-object="${user}">
            <input type="text" data-th-field="*{username}" placeholder="felhasználónév">
            <input type="password" data-th-field="*{password}" placeholder="jelszó">
            <input class="send_button" type="submit" value="Küldés">
        </form>
    </div>
</div>

</body>

</html>